@import "tailwindcss";

@theme {
  --color-nord-dark-0: #2e3440;
  --color-nord-dark-1: #3b4252;
  --color-nord-dark-2: #434c5e;
  --color-nord-dark-3: #4c566a;

  --color-nord-light-0: #d8dee9;
  --color-nord-light-1: #e5e9f0;
  --color-nord-light-2: #eceff4;

  --color-nord-frost-0: #8fbcbb;
  --color-nord-frost-1: #88c0d0;
  --color-nord-frost-2: #81a1c1;
  --color-nord-frost-3: #5e81ac;

  --color-nord-aurora-0: #bf616a;
  --color-nord-aurora-1: #d08770;
  --color-nord-aurora-2: #ebcb8b;
  --color-nord-aurora-3: #a3be8c;
  --color-nord-aurora-4: #b48ead;
}

body {
  font-family: Roboto;

  margin: 0;
  padding: 0;

  color: var(--color-nord-light-2);
  background-color: var(--color-nord-dark-0);
}

.line-with-arrow {
  position: relative;
  height: 1px;
  width: 100%;
  background-color: #ccc; /* line color */
  margin: 40px 0;
}

.circle-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background-color: var(--color-nord-dark-0);      /* background of circle */
  border-radius: 50%;           /* makes it a circle */
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.1s ease-in-out;
}

.circle-arrow > .chevron {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-nord-aurora-0);
  border-bottom: 2px solid var(--color-nord-aurora-0);
  transform: rotate(45deg);     /* makes it point downward */
  transition: 0.1s ease-in-out;
}

.circle-arrow:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.circle-arrow:hover > .chevron {
  width: 15px;
  height: 15px;
  border-right: 3px solid var(--color-nord-aurora-0);
  border-bottom: 3px solid var(--color-nord-aurora-0);
}

.circle-arrow > .chevron.rotated {
  transform: rotate(-135deg);
}

.circle-arrow.rotated {
  top: 3px;
}

.slide-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.slide-panel.open {
  max-height: 200px;
}